@import 'bootstrap-sprockets';
@import 'bootstrap';
//You need to now manually import every other scss file.



h5 {
  font-size: 1.25em;
}

p {
  font-size: 1.1em;
}

.sed {
  padding-left: 25px;
  margin-bottom: 20px;
}

footer {
  background: #212121;
  text-align: center;
  color: #9d9d9d;
  height: 50px;
  line-height: 50px;
}

.submit {
  margin-top: 20px;
  margin-bottom: 20px;
}

.links_title {
  padding-left: 25px;
}

.votes_title {
  padding-left: 0;
}

table {
  margin: 20px 0;
}
