<p id="notice"><%= notice %></p>

<h1 class="col-sm-8 col-sm-offset-4 votes_title">Listing Votes</h1>

<table class="col-sm-8 col-sm-offset-4">
  <thead>
    <tr>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.upvote %></td>
        <td><%= vote.downvote %></td>
        <td><%= link_to vote.link.title, links_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
